ul {
    margin: 20px;
    list-style: none;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 2%;
}
.input-color .color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    left: 5px;
}